AE_GameServer/data/static_data/static_data.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ae_static_data" type="staticData" />

	<xs:element name="player_experience_table" type="playerExperienceTable" />
	<xs:element name="world_maps" type="worldMapsData" />
	<xs:element name="stats_templates" type="statsTemplatesType" />
	<xs:element name="map" type="worldMapTemplate" />
	<xs:element name="item_data" type="itemData" />
	<xs:element name="npc_data" type="npcData" />

	<xs:element name="npc_template" type="npcTemplate" />

	<xs:element name="import">
		<xs:annotation>
			<xs:documentation><![CDATA[
      Attributes:
		'file' :
				Required attribute.
				Specified path to imported file or directory.
		'skipRoot' :
				Optional attribute.
				Default value: 'false'
				If enabled, then root tags of imported files are ignored.
		'recirsiveImport':
				Optional attribute.
				Default value: 'true'
				If enabled and attribute 'file' points to the directory, then all xml files in that
				directory ( and deeper - recursively ) will be imported, otherwise only files inside that directory (without it subdirectories)
	]]></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute type="xs:string" name="file" use="required" />
			<xs:attribute type="xs:boolean" name="skipRoot" use="optional" default="false" />
			<xs:attribute type="xs:boolean" name="recursiveImport" use="optional" default="true" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="staticData">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="world_maps" minOccurs="0" />
			<xs:element ref="player_experience_table" minOccurs="0" />
			<xs:element ref="player_initial_data" minOccurs="0" />
			<xs:element ref="item_data" minOccurs="0" />
			<xs:element ref="stats_templates" minOccurs="0" />
			<xs:element ref="npc_data" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="worldMapsData">
		<xs:sequence>
			<xs:element ref="map" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="worldMapTemplate">
		<xs:sequence />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="id" type="xs:int" use="required" />
		<xs:attribute name="twin_count" type="xs:int" />
		<xs:attribute name="max_user" type="xs:int" />
		<xs:attribute name="prison" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="playerExperienceTable">
		<xs:sequence>
			<xs:element name="exp" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="statsTemplateType">
		<xs:sequence>
			<xs:element name="stats_template" type="playerStatsTemplate" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="playerClass" name="class" use="required" />
		<xs:attribute type="xs:byte" name="level" use="required" />
	</xs:complexType>

	<xs:complexType name="playerStatsTemplate">
		<xs:complexContent>
			<xs:extension base="statsTemplate">
				<xs:attribute name="power" type="xs:int" use="required" />
				<xs:attribute name="health" type="xs:int" use="required" />
				<xs:attribute name="agility" type="xs:int" use="required" />
				<xs:attribute name="accuracy" type="xs:int" use="required" />
				<xs:attribute name="knowledge" type="xs:int" use="required" />
				<xs:attribute name="will" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="statsTemplate" abstract="true">
		<xs:attribute name="maxHp" type="xs:int" use="required" />
		<xs:attribute name="maxMp" type="xs:int" use="required" />
		<xs:attribute name="walk_speed" type="xs:float" use="required" />
		<xs:attribute name="run_speed" type="xs:float" use="required" />
		<xs:attribute name="fly_speed" type="xs:float" use="required" />
		<xs:attribute name="attack_speed" type="xs:float" use="required" />
		<xs:attribute name="evasion" type="xs:int" use="required" />
		<xs:attribute name="block" type="xs:int" use="required" />
		<xs:attribute name="parry" type="xs:int" use="required" />
		<xs:attribute name="main_hand_attack" type="xs:int" use="required" />
		<xs:attribute name="main_hand_accuracy" type="xs:int" use="required" />
		<xs:attribute name="main_hand_crit_rate" type="xs:int" use="required" />
		<xs:attribute name="magic_accuracy" type="xs:int" use="required" />
	</xs:complexType>

	<xs:complexType name="statsTemplatesType">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type="statsTemplateType" name="player_stats" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="itemData">
		<xs:sequence>
			<xs:element name="item" type="itemTemplate" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="itemTemplate">
		<xs:attribute name="item_id" type="itemId" use="required" />
		<xs:attribute name="target_slot" type="itemSlot" />
	</xs:complexType>

	<xs:complexType name="npcData">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="npc_template" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="npcTemplate">
		<xs:sequence>
			<xs:element name="stats" type="npcStatsTemplate" />
			<xs:element name="equipment" type="npcEquipmentList" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="npc_id" type="npcId" use="required" />
		<xs:attribute name="level" type="xs:byte" use="required" />
		<xs:attribute name="name_id" type="xs:int" use="required" />
		<xs:attribute name="title_id" type="xs:int" default="0" />
		<xs:attribute name="name" type="xs:string" default="" />
		<xs:attribute name="height" type="xs:float" default="0" />
		<xs:attribute name="talking_distance" type="xs:int" default="0" />
		<xs:attribute name="ammo_speed" type="xs:int" />
		<xs:attribute name="npc_type" type="npcType" use="required" />
	</xs:complexType>

	<xs:complexType name="npcStatsTemplate">
		<xs:complexContent>
			<xs:extension base="statsTemplate">
				<xs:sequence />
				<xs:attribute name="walk_speed_fight" type="xs:float" use="required" />
				<xs:attribute name="run_speed_fight" type="xs:float" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="npcEquipmentList">
		<xs:sequence>
			<xs:element name="item" type="itemId" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="playerClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WARRIOR" />
			<xs:enumeration value="GLADIATOR" />
			<xs:enumeration value="TEMPLAR" />
			<xs:enumeration value="SCOUT" />
			<xs:enumeration value="ASSASSIN" />
			<xs:enumeration value="RANGER" />
			<xs:enumeration value="MAGE" />
			<xs:enumeration value="SORCERER" />
			<xs:enumeration value="SPIRIT_MASTER" />
			<xs:enumeration value="PRIEST" />
			<xs:enumeration value="CLERIC" />
			<xs:enumeration value="CHANTER" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="itemSlot">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAIN_HAND" />
			<xs:enumeration value="OFF_HAND" />
			<xs:enumeration value="HELMET" />
			<xs:enumeration value="TORSO" />
			<xs:enumeration value="GLOVES" />
			<xs:enumeration value="BOOTS" />
			<xs:enumeration value="EARRINGS_LEFT" />
			<xs:enumeration value="EARRINGS_RIGHT" />
			<xs:enumeration value="RING_LEFT" />
			<xs:enumeration value="RING_RIGHT" />
			<xs:enumeration value="NECKLACE" />
			<xs:enumeration value="PAULDRON" />
			<xs:enumeration value="PANTS" />
			<xs:enumeration value="POWER_SHARD_RIGHT" />
			<xs:enumeration value="POWER_SHARD_LEFT" />
			<xs:enumeration value="WINGS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="npcType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATTACKABLE" />
			<xs:enumeration value="AGGRESSIVE" />
			<xs:enumeration value="NON_ATTACKABLE" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="skillId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="60000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="npcId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="200000"/>
			<xs:maxInclusive value="800000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="itemId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="100000000"/>
			<xs:maxInclusive value="200000000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="startingPlayerClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WARRIOR" />
			<xs:enumeration value="SCOUT" />
			<xs:enumeration value="MAGE" />
			<xs:enumeration value="PRIEST" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="playerRace">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELYOS" />
			<xs:enumeration value="ASMODIAN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="player_initial_data" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="asmodian_spawn_location" type="spawnLocationType" minOccurs="1" maxOccurs="1" />
				<xs:element name="elyos_spawn_location" type="spawnLocationType" minOccurs="1" maxOccurs="1" />
				<xs:element name="player_data" type="playerDataType" minOccurs="1" maxOccurs="8"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="playerDataType">
		<xs:sequence>
			<xs:element name="items" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" type="itemId" use="required"/>
								<xs:attribute name="count" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--<xs:element name="shortcuts" minOccurs="1" maxOccurs="1"/>-->
		</xs:sequence>
		<xs:attribute name="class" type="startingPlayerClass" />
	</xs:complexType>

	<xs:complexType name="spawnLocationType">
		<!-- TODO: remove map_id -->
		<xs:attribute name="map_id" type="xs:int" use="required"/>
		<xs:attribute name="x" type="xs:float" use="required"/>
		<xs:attribute name="y" type="xs:float" use="required"/>
		<xs:attribute name="z" type="xs:float" use="required"/>
		<xs:attribute name="heading" type="xs:byte" use="required"/>
	</xs:complexType>

</xs:schema>

